<div class="row">
  <%= render partial: "admin/shared/navbar" %>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Dealers</h1>
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <%= link_to "New Dealer", new_admin_dealer_path, style: "color: inherit; text-decoration: none;" %>
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Export as XLS
        </button>
      </div>
    </div>
    <%= render "admin/dealers/list", {dealers: @dealers} %>
  </main>
</div>
