<%= form_with(scope: :account, url: admin_accounts_path(@account), method: :post, local: true) do |form| %>
<!-- Errors -->
  <% if account.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>

<% end %>
