<div class="pb-2 mb-3 border-bottom">
<h4>Personal dashboard</h4>
</div>
<%= form_for styles, url: admin_styles_path, method: :put, html: {class: "col-8", style: "margin: 15px;"} do |f| %>
<div class="form-group row">
  <%= f.label :dashboard_background_color, class: "col-sm-4 col-form-label" %>
  <div class="col-sm-6">
    <%= f.select :dashboard_color,options_for_select(["yellow","blue","green","pink","dark"],current_style&.dashboard_color), class: "form-select" %>
  </div>
</div>

  <%= f.submit class: "btn btn-outline-info" %>
<% end %>
