<div class="row">
  <%= render partial: "admin/shared/navbar" %>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <!-- Header -->
  <div class="pb-2 mb-3 border-bottom">
    <h1 class="h2">Styles editor</h1>
  </div>

    <%= render "admin/styles/general", styles: @styles %>
    <%= render "admin/styles/home_editor", styles: @styles %>
    <%= render "admin/styles/login_editor", styles: @styles %>
  
  </main>

</div>