// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.account-info {
  background-color: aqua;
  border-radius: 25px;
}

.balance {
  color: blue;
}

.transaction-history {
  width: 80%;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
}

.transaction-container {
  width: 80%;
  margin-bottom: 1rem;
  height: 1px;
  display: table;
  border-radius: 25px;
  background-color: rgba(255, 4, 4, 0.281);
}

.transaction-info {
  display: table-cell;
  min-width: 70%;
  font-size: 1em;
}

.top-row {
  min-width: 70%;
  padding: 0.5rem;
}

.bottom-row {
  min-width: 70%;
  padding: 0.5rem;
  color: grey;
}

tr:nth-child(even) {
  background-color: #302dd45d;
}

.transaction-amount {
  min-width: 30%;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
}

.transaction-divider {
  border-top: 3px solid #bbb;
}