// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#account-show th {
  background-color: #1b1c1db9;
  color: white;
  text-align: center; 
  vertical-align: middle;
}

#account-show tr {
  height: 2rem;
}

#account-show .center-aligned {
  text-align: center; 
  vertical-align: middle;
}

#account-show .left-aligned {
  text-align: left; 
  vertical-align: middle;
}

#account-show .right-aligned {
  text-align: right; 
  vertical-align: middle;
}

