

.body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  background-image: url('/bank3.jpg');

}
.container-login100::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);

}

.wrap-login100 {
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background:  #333333;
}

.logo-item {
    font-size: 60px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.mb-4{
    display: inline-block;

}
.login-title{
font-size: 30px;
color: #fff;
line-height: 1.2;
text-align: center;
text-transform: uppercase;
display: block;

}
.p-b-34 {
    padding-bottom: 34px;
}
.p-t-27 {
    padding-top: 27px;
}
.validate-input {
}
.wrap-input100 {
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}
.fa {
    color: #fff;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}
.checkbox100{
  padding-left: 5px;
padding-top: 5px;
}
