

<div class="container " style ="max-width: 680px;padding-bottom: 100px;
padding-top: 100px;a">
  <div class="column is-one-third" >
    <h1 class="title " style ="font-size: 35px;color: #525252;font-weight: 400;
margin-bottom: 40px;">Edit <%= @user.firstname %> profile</h1>
    <%= render 'form', user: @user %>
  </div>
</div>
