<% @users.each do |user| %>
<%= link_to admin_user_path(user) do %>
<div class="columns is-centered mt-6">
  <div class="column is-one-third">
<div class="card">

  <div class="card-content">
    <p class="title has-text-centered">
      <%= user.firstname + user.lastname %>
    </p>
  </div>

  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <%= link_to 'Edit', edit_admin_user_path(user) %>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </p>
  </footer>

</div>
</div>
</div>
<% end %>
<% end %>
