<div class="row">
  <%= render partial: "admin/shared/navbar" %>
  <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="mb-4 pt-2" style="color:#01045d">Create New User</h1>
      <hr>
      <br>
      <button type="button" class="btn btn-lg btn-dark"><%= link_to "Back", admin_users_path,style: "color: inherit; text-decoration: none;" %></button>

    </div>
    <div class="col">
      <%= render 'form', user: @user %>
    </div>

  </div>

  </div>
