<div class="columns is-centered mt-6">
  <div class="column is-one-third">
    <h1 class="is-size-2 has-text-weight-bold mb-3">New user</h1>
    <%= render 'form', user: @user %>
  </div>
</div>

<%= link_to 'Back to account list', admin_users_path, class: "button is-danger" %>
