<!-- TODO: style -->
  <div class="row justify-content-center" style="background: linear-gradient(to right, #add8e6, white); padding: 10px;">

    <div class="col-lg-4 mx-auto">
      <!-- TODO: image -->
      <img src="/payment.png" width="100%">
      <!-- TODO: markdown text --> 
    </div>

      <div class="col-lg-4 mx-auto">
      <!-- Text --> 
      <h2 class="display-4 text-info">Transfer to any part of the world</h2>
      <em>...and do it securely</em>
        <hr>
          <%= render 'form', transaction: @transaction %>
          
          <%= link_to dashboard_path do %>
            <!-- button style -->
            <div class="btn btn-light" style="color: #6c757d; border-color: #dee2e6;">
            <i class="fa fa-arrow-left" style="color: #000000;"></i>
            Cancel payment
            </div>
          <% end %>
      </div>
      
      <%= render "shared/footer" %>

  </div>




