

  <main>

  <div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-lg-6 mx-auto">
      <h2 class="display-4 text-info">Transfer to any part of the world</h2>
      <em>...and do it securely</em>
        <hr />
          <%= render 'form', transaction: @transaction %>
          
          <%= link_to dashboard_path do %>
            <div class="btn btn-danger">
            <i class="fa fa-arrow-left"></i>
            Cancel payment
            </div>
          <% end %>
      </div>
      </div>
      
  </div>
</div>
</div>

  </main>


  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© Lynx Bank Ltd.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>

