<h1>Accounts#show</h1>
<p>Find me in app/views/accounts/show.html.erb</p>

<p>(Optional) Here we should have a head tab bar to switch between pages.</p>

<p>Here we should have the balance of a bank account.</p>

<p>Here we should have the transaction history of a bank account.</p>

<p>The transactions should bring the users to the page of the corresponding transaction.</p>